* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: auto;
}

.chat-container {
  flex: auto;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}


.input-container {
  position: sticky;
  bottom: 0;
  padding: 20px;
}

.messageBox {
  background-color: #f4f4f4;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  padding: 8px 12px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* .messageBox:focus-within {
  border-color: black;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
} */

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  width: 60%;
  margin: 0 auto;
}

#messageInput {
  flex-grow: 1;
  height: 24px;
  width: 100%;
  max-height: 140px;
  background-color: transparent;
  outline: none;
  border: none;
  resize: none;
  padding: 0;
  color: #1f2937;
  line-height: 1.5;
  overflow-y: auto;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.fileUploadWrapper label,
#sendButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.fileUploadWrapper label:hover,
#sendButton:hover {
  background-color: white
}

.fileUploadWrapper svg,
#sendButton svg {
  width: 20px;
  height: 20px;
}

#file {
  display: none;
}

.selectedFileContainer {
  width: 50%;
  margin-top: 8px;
  padding: 8px;
  margin-bottom: 1rem;
  background-color: #f3f4f6;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectedFileContainer.hidden {
  display: none;
}

#selectedFileName {
  font-size: 14px;
  color: #4b5563;
}

#removeFileButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 2px;
}

#removeFileButton:hover {
  background-color: #e5e7eb;
}

#removeFileButton img {
  width: 16px;
  height: 16px;
}

.chat-left {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 16px;
}

.chat-right {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.chat {
  width: 600px;
  padding: 16px;
  background: #f4f4f4;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  text-align: justify;
}
