<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Report Interpreter</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Geist+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/sidebar.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body data-username="{{ username }}">
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-header">
                <i class='bx bxs-donate-blood logo-ico'></i>
                <h1 class="logo">Blood Report</h1>
            </div>
            <div class="history">
                <div class="new-chat">
                    <i class='bx bx-plus plus-ico'></i>
                    <p>New chat</p>
                </div>
                <!-- Chat history will be dynamically displayed here -->
            </div>
        </div>

        <div class="main">
            <div class="main-header">
                <div class="model-container">
                    <span class="model">Blood Report Interpreter</span>
                </div>
            </div>

            <div class="chat-container">

                <div class="chatArea" id="chatArea">
                    <!-- Chat messages will be dynamically displayed here -->
                </div>
            </div>

            <div class="input-container">
                <form id="uploadForm" enctype="multipart/form-data" method="POST">
                    <div class="messageBox">
                        <!-- File upload container -->
                        <div id="selectedFileContainer" class="selectedFileContainer hidden">
                            <div class="file-container">
                                <i class='bx bxs-file-pdf pdf-icon'></i>
                                <span id="selectedFileName"></span>
                                <button class="rm-btn" id="removeFileButton">
                                    <i class='bx bx-x rm-x'></i>
                                </button>
                            </div>
                        </div>

                        <!-- Message input -->
                        <div class="input-wrapper">
                            <textarea id="messageInput" name="messageInput" placeholder="Type your message..." rows="1"></textarea>
                        </div>

                        <!-- File upload and send button -->
                        <div class="actions">
                            <div class="fileUploadWrapper">
                                <div class="rounded">
                                    <i class='bx bx-link-alt' id="file-uploader"></i>
                                </div>
                                <input type="file" id="file" name="file" accept="application/pdf" style="display: none;" />
                            </div>

                            <button type="submit" id="sendButton" class="sendButton">
                                <i class='bx bxl-telegram'></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>

</html>
